@import 'vendors/bootstrap/_bootstrap.min';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import 'vendors/hamburgers/hamburgers';

@import 'utils/_mixins';
@import 'utils/_rwd';

@import 'utils/_variables';
@import 'base/_typography';

//@import "utils/_debug";

html {
  scroll-behavior: smooth;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

html,
body {
  width: 100%;
  overflow-x: hidden;

  p {
    font-size: 16px;
  }

  #law-info p {
    font-size: 10px !important;
    margin: 0;
    padding: 0;
    display: inline-block;

    a {
      color: $yellow;
      text-decoration: none;
    }
  }
}

.oan-btn {
  background-color: $yellow;
  color: $dark;
  font-size: 18px;
  font-weight: 400;
  padding: 4px 38px;
  border: none;
  outline: none;
  text-decoration: none;
  &:hover {
    color: $dark;
    opacity: 0.9;
  }
}

.content-page {
  padding: 60px 55px;
}

input[disabled] {
  cursor: not-allowed;
  &:hover {
    opacity: 1;
  }
}
