//main colors
$blue: #333e87;
$yellow: #fcc02f;
$accent: #00a6eb;
$dark: #000000;
$gray: #d9d9d9;

//txt colors
$heading-color: #344185;
$txt-color: #354185;

//sections-bg colors
$bg-gray: #f4f4f4;

//form validation
$err: #f44242;

.bg-gray {
  background-color: $bg-gray;
}


